# --- BACKEND SETTINGS ---
PORT=8080
DATABASE_URL=host=[IP_ADDRESS] user=ottodb password= dbname= port= sslmode=disable
JWT_SECRET=super-secret-key-change-this-in-production
ALLOWED_ORIGIN=*

# --- FRONTEND SETTINGS ---
FRONTEND_PORT=8081
VITE_API_BASE_URL=http://localhost:8080
