# Port server backend
PORT=8080

# PostgreSQL DSN
DATABASE_URL=host= user= password= dbname= port= sslmode=disable

# JWT Secret Key (Ganti dengan string random panjang di production)
JWT_SECRET=super-secret-key-change-this-in-production

# CORS Allowed Origin (Ganti dengan URL frontend di production)
ALLOWED_ORIGIN=*
